data/catalogue.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT bibliotheque (catalogue+)>
<!ELEMENT catalogue (photo+)>
<!ELEMENT photo (titre,commentaire,htag+,date_modif)>
<!ELEMENT titre (#PCDATA)>
<!ELEMENT id (#PCDATA)>

<!ATTLIST photo taille CDATA #REQUIRED>
<!ATTLIST photo src CDATA #REQUIRED>
<!ATTLIST photo id CDATA #REQUIRED>
<!ATTLIST photo extention CDATA #REQUIRED>







